.project-board-column {
  width: 25%;
  background-color: #e2e4e6;
  margin-right: 10px;
  border-radius: 4px;
  padding: 10px;
  height: fit-content;
}

.column-label {
  font-weight: 700;
  margin-bottom: 10px;
}

.project-item-placeholder {
  background-color: #0000007d;
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px;
  height: 75px;
}

.project-column-contains {
  max-height: calc(100vh - 255px);
  overflow-y: auto;
}