.project-item-card {
  border: 1px solid rgba(0, 0, 0, 0.125);
  background-color: white;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  cursor: pointer;
}

.project-item-tags {
  display: flex;
}

.project-item-tags > .project-item-tag {
  color: white;
  font-weight: 700;
  font-size: 14px;
  border-radius: 4px;
  min-width: 50px;
  margin-right: 3px;
  text-align: center;
}

.project-item-card > h5 {
  font-size: 16px;
  font-weight: 500;
}
