.projects-container {
  flex-wrap: wrap;
  padding: 10px 0 10px 10px;
  height: calc(100vh - 90px);
  overflow-y: auto;
}

.project-info {
  padding-top: 20px;
}

.home-add-project-card {
  border-color: rgba(0, 0, 0, 0.5);
}

.home-add-project-card > .fa {
  color: rgba(0, 0, 0, 0.5);
  font-size: 28px;
}

.home-add-project-card:hover {
  border-color: #343434;
  background-color: rgba(0, 0, 0, 0.2);
}

.home-add-project-card:hover > .fa {
  color: #343434;
}
