#ds9799-lxm-receipt {
  margin: 10px;
  border: solid 2px #f44336;
  padding: 0 10px;
  border-radius: 4px;
}

#ds9799-lxm-receipt > .receipts-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
  height: calc(100vh - 180px);
  overflow-y: auto;
}

#ds9799-lxm-receipt .add-receipt-btn {
  width: 20%;
  padding: 10px 10px 0;
  height: 288px;
}
