#verify-modal {
  height: calc(100vh - 45px);
  background: rgba(0, 0, 0, 0.8);
}

#verify-modal .verify-box {
  border: solid 1px rgba(255, 255, 255, 0.125);
  padding: 40px;
  margin: auto;
  background-color: white;
  border-radius: 4px;
}

#verify-modal .input-group {
  margin-bottom: 10px;
}

#verify-modal .btn {
  padding: 0;
}