.cm-code-editor {
  width: calc((100vw - 200px) / 2);
  height: calc(100vh - 85px);
}

.cm-code-editor .ReactCodeMirror {
  width: calc((100vw - 200px) / 2);
  height: calc(100vh - 85px);
}

.cm-code-editor .CodeMirror {
  height: calc(100vh - 85px);
}

