.menu-group-item {
  color: #ffffff;
  padding-left: 25px;
  cursor: pointer;
  user-select: none;
}

.menu-group-item:hover {
  background-color: #526171;;
}

.menu-group-item.active {
  background-color: #68829e;
}