#ds9799-lx-receipt {
  margin: 10px;
  border: solid 2px #f44336;
  padding: 0 10px;
  border-radius: 4px;
}

#ds9799-lx-receipt > .receipts-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
  max-height: calc(100vh - 180px);
  overflow-y: auto;
}

#ds9799-lx-receipt > .receipts-list > .empty-shop {
  width: 100%;
  display: flex;
  justify-content: center;
  height: calc(100vh - 180px);
  align-items: center;
  font-size: 20px;
  font-style: italic;
}