.header-bar-container {
  position: fixed;
  background-color: #000000;
  height: 45px;
  align-items: center;
  width: 100%;
}

.header-bar-icon {
  padding-left: 15px;
  color: #ffffff;
}

.header-bar-title {
  padding-top: 3px;
  padding-left: 15px;
  color: #ffffff;
}

.header-bar-quote {
  color: #ffffff;
}

.header-bar-quote-author {
  color: #f5ad28;
}
