.ds9799-register-form > .input-group {
  margin-bottom: 10px;
}

.ds9799-register-form > .input-group > .input-group-prepend {
  width: 100%;
}

.ds9799-register-form > .feature {
  display: flex;
  justify-content: flex-end;
}

.ds9799-register-form > .feature > .btn {
  padding: 0px;
  width: 100px;
  margin-left: 5px;
}

