#weather-page {
  height: calc(100vh - 45px);
  background-size: cover;
  overflow-y: auto;
  width: calc(100vw - 200px);
}

#weather-page > .overlay {
  width: 100%;
  height: calc(100vh - 45px);
  overflow-y: auto;
  padding: 10px;
}

#weather-page > .overlay::-webkit-scrollbar {
  width: 5px;
}

#weather-page > .overlay::-webkit-scrollbar-track {
  border: solid 1px #282854;
}

#weather-page > .overlay::-webkit-scrollbar-thumb {
  background-color: #282854;
}
