.game-guide-detail {
  overflow-y: auto;
  max-height: calc(100vh - 90px);
  position: relative;
}

.game-guide-detail .btn:hover {
  background-color: white;
}

.game-guide-detail > .game-guide-feature {
  display: flex;
  position: fixed;
  top: 52px;
  right: 10px;
}

.game-guide-feature > .btn {
  padding: 0;
  width: 25px;
  margin-right: 5px;
}

.game-guide-feature > .btn.long {
  width: 50px;
}

.game-guide-feature > .title {
  padding-right: 40px;
  font-weight: 500;
  font-size: 18px;
  font-style: italic;
}
