.header-menu-bar {
  position: fixed;
  width: 400px;
  background: rgba(61, 61, 61, 0.5);
  right: 0;
  top: 45px;
  z-index: 1;
  padding: 10px;
}

.header-menu-bar::after {
  content: ' ';
  position: absolute;
  bottom: 100%;
  right: 20px;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgba(61, 61, 61, 0.5) transparent;
}

.header-menu-input-wrapper {
  display: flex;
}

.header-menu-input {
  height: 32px;
  margin-right: 5px;
}

.header-menu-btn {
  line-height: 1.1;
  padding: 2px 8px;
}

.header-menu-mini-player {
  margin-top: 10px;
}