.navigation-bar {
  position: fixed;
  margin-top: 45px;
  width: 200px;
  height: calc(100vh - 45px);
  background-color: #2e2f2f;
  overflow-y: auto;
  overflow-x: hidden;
}

.navigation-bar::-webkit-scrollbar {
  width: 5px;
}

.navigation-bar::-webkit-scrollbar-track {
  background: #555555;
}

.navigation-bar::-webkit-scrollbar-thumb {
  background: #063852;
}

.menu-item-button {
  width: 200px;
  background-color: #555555;
  border: none;
  color: white;
  text-align: center;
  cursor: pointer;
}

.menu-item-button:hover {
  background-color: #1995ad;
}



