.ds9799-main-screen {
  margin-top: 45px;
  margin-left: 200px;
  height: 736px;
  width: 100%;
  background-image: url('../../app_modules/images/backgrounds/jungle.jpg');
}

.ds9799-top-nav {
  height: 60px;
  border: solid 1px #4c6177;
  display: flex;
  align-items: center;
}

.ds9799-logo-container {
  display: flex;
  height: 60px;
  align-items: center;
  padding-left: 20px;
}

.ds9799-logo {
  height: 50px;
}

.ds9799-top-nav-pannel {
  align-items: center;
  border-radius: 3px;
  border: solid 1px #1e5637;
  margin: 5px;
  padding: 5px;
  cursor: pointer;
}

.ds9799-top-nav-pannel-active {
  background-color: #366d4e;
}

.ds9799-user-sidenav {
  border: solid 1px #4c6177;
  display: flex;
  justify-content: center;
  height: 676px;
}

.ds9799-sidenav-form {
  margin-top: 15px;
  width: 90%;
}

.ds9799-sidenav-form-input {
  border: solid 1px #80c391;
}

.ds9799-user-menu {
  width: 95%;
  margin-top: 10px;
}

.ds9799-user-card {
  color: #1e5637;
  border: solid 1px #4c6177;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 10px;
}

.ds9799-user-card-header {
  background-color: #4c6177;
  color: white;
  padding: 5px;
}

.ds9799-user-card-content {
  padding: 5px !important;
}

.ds9799-dashboard-container {
  margin: 10px;
}

.ds9799-profile-card {
  border: solid 1px #4c6177;
  height: 656px;
  border-radius: 5px;
  background-color: white;
}

.ds9799-profile-card-header {
  background-color: #4c6177;
  color: white;
  height: 40px;
  padding: 5px;
}

.ds9799-profile-card-content {
  width: 90%;
  padding-top: 20px;
  margin: auto;
}

.ds9799-margin-bottom {
  margin-bottom: 15px;
}