.blog-top-nav {
  position: fixed;
  background-color: #000000;
  height: 45px;
  align-items: center;
  width: 100%;
}

.blog-side-nav {
  position: fixed;
  margin-top: 45px;
  width: 200px;
  height: 736px;
  background-color: #2e2f2f;
}

.flash-game-main-screen {
  margin-top: 45px;
  margin-left: 200px;
  background-color: #324851;
  height: 736px;
  width: 100%;
  padding: 0 !important;
}

.home-main-screen {
  margin-top: 45px;
  margin-left: 200px;
  height: 736px;
  width: 100%;
}

.blog-nav-name {
  padding-top: 5px;
  padding-left: 15px;
  color: #ffffff;
}

.blog-nav-icon {
  padding-left: 15px;
  color: #ffffff;
}

.blog-nav-quote {
  color: #ffffff;
}

.blog-nav-quote-author {
  color: #f5ad28;
}

.menu-group-name:hover {
  background-color: #1995ad;
}

.menu-group-item {
  color: #ffffff;
  padding-left: 15px;
}

.menu-group-item:hover {
  background-color: #68829e;
}

.menu-group-name {
  color: #ffffff;
  padding-left: 15px;
}

.group-icon {
  padding-right: 15px;
}

.group-toggle-icon {
  padding-right: 15px;
}

.noselect {
  cursor: default;
  user-select: none;
}

.menu-item-button {
  width: 200px;
  background-color: #555555; /* Green */
  border: none;
  color: white;
  text-align: center;
  cursor: pointer;
}

.menu-item-button:hover {
  background-color: #1995ad;
}

@media only screen and (max-width: 900px) {
  .blog-nav-quote {
    display: none;
  }

  .blog-nav-quote-author {
    display: none;
  }
}

.modal-header {
  height: 45px;
}

.modal-footer {
  height: 45px;
}

.modal-icon {
  width: 30px;
  height: 30px;
}

.btn {
  line-height: 0.75 !important;
}

.nav > li > a.active,
.nav > li > a:focus {
  color: #2e2f2f !important;
}

.no-row-margin {
  margin: 0 !important;
  padding: 0 !important;
}

.no-col-margin {
  margin: 0 !important;
  padding: 0 !important;
}

.larger-star-rating {
  font-size: xx-large;
}

.no-z-index {
  z-index: -1 !important;
}

.mgt-5 {
  margin-top: 5px;
}

.mgt-10 {
  margin-top: 10px;
}

.mgt-15 {
  margin-top: 15px;
}

.flex-center {
  justify-content: center;
}

.border-darkgrey {
  border-color: darkgray;
}

.border-lawngreen {
  border-color: lawngreen;
}

.sm-padding {
  padding: 5px;
}

.sm-mg {
  margin: 5px;
}

.btn-full {
  width: 100%;
  height: 100%;
}

.center-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
