.mangas-reading-main-screen {
  margin-top: 45px;
  margin-left: 200px;
  height: 736px;
  width: 100%;
  background-image: url('../../app_modules/images/backgrounds/dark_art.jpg');
}

.static-position {
  position: static !important;
}

.mr-control-panel {
  background-color: #1e434c;
  width: 90%;
  left: -80%;
  margin-left: 5%;
  height: 736px;
  overflow-y: auto;
  position: relative;
  animation: slide_left_in 1s forwards;
}

@keyframes slide_left_in {
  100% {
    left: 0;
  }
}

.mr-card-list {
  height: 736px;
  overflow-y: auto;
  position: relative;
  right: -80%;
  animation: slide_right_in 1s forwards;
}

@keyframes slide_right_in {
  100% {
    right: 0;
  }
}

.box-margin {
  width: 100%;
  margin-left: 5px;
  margin-top: 5px;
  margin-right: 5px;
}

.channel-bar {
  padding: 5px !important;
}

.channel-button {
  margin-left: 2px;
  padding: 7px !important;
  width: 30px;
}

.channel-button-active {
  background-color: #063852;
  color: white;
}

.add-manga-form-group {
  margin-bottom: 0 !important;
}

.add-manga-form-input {
  padding: 5px !important;
}

.add-manga-star-rating {
  margin-top: -17px;
}

.mr-genre-tag {
  margin-left: 2px;
}

.mr-aka-tag {
  max-width: 260px;
  overflow: hidden;
  margin-left: 2px;
}

.manga-card {
  width: 95%;
  cursor: pointer;
  height: 182px;
}

.manga-card-active {
  background-color: #00a65a;
  color: white;
}

.manga-card-image {
  width: 120px;
}

.manga-card-content {
  margin-left: 7px;
  overflow-y: auto;
  height: 182px;
}

.mr-search-radio {
  margin-left: 5px;
  color: white;
}
