.mo-main-screen {
  margin-top: 45px;
  margin-left: 200px;
  height: 736px;
  width: 100%;
  background-image: url('../../app_modules/images/backgrounds/mg_mu.jpg');
  background-size: 100%;
}

.mo-main-screen-background {
  background: rgba(0, 0, 0, 0.8);
  color: white;
  height: 736px;
  width: 100%;
}

.mo-full-screen {
  height: 736px;
}

.mo-control-pannel {
  height: 726px;
  margin: 5px;
  background-color: #1e434c;
  overflow-y: auto;
  border-radius: 4px;
}

.mu-nav-pannel-btn {
  border-radius: 4px;
  border: solid 1px;
  margin: 5px;
  padding: 5px;
  cursor: pointer;
  background-color: #868e96;
}

.mu-nav-pannel-active {
  background-color: #063852;
}

.mo-info-screen {
  height: 726px;
  margin: 5px;
  border: solid 1px #1e434c;
  overflow-y: auto;
  border-radius: 4px;
  position: relative;
}

.mo-add-button {
  border: dashed 1px;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}

.mo-listpannel-card {
  margin: 5px;
  margin-top: 5px;
  cursor: pointer;
  height: 50px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: #021c1e;
  color: white;
}

.mo-listpannel-card-active {
  background-color: #6fb98f;
}

.mo-info-feature {
  position: absolute;
  top: 10px;
  right: 10px;
}

.mo-info-feature-btn {
  border-radius: 4px;
  border: solid 1px;
}
