.music-main-screen {
  margin-top: 45px;
  margin-left: 200px;
  height: calc(100vh - 45px);
  width: 100%;
}

.music-song-list-pannel {
  height: 736px;
}

.music-player-pannel {
  height: 736px;
}

.music-tool-bar-input {
  width: 50%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.music-tool-bar-button {
  margin-left: 2px;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 5px;
  padding: 7px !important;
  width: 30px;
  background-color: #063852;
  color: white;
}

.music-tool-bar-options {
  margin-top: 10px;
  margin-left: 5px;
}

.music-list-songs-box {
  height: 687px;
  overflow-y: auto;
}

.music-table {
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 5px;
}

.music-table-header {
  background-color: #063852;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  color: white;
  cursor: pointer;
}

.music-table-row {
  line-height: 1.2;
  background-color: #e9ecef;
}

.music-table-row:hover {
  background-color: #bfe4c3;
}

.music-table-row-active {
  background-color: #5dd46a;
  color: white;
}

.music-player-container {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  height: 200px;
  background-color: #2e2f2f;
  border-radius: 5px;
}

.music-player-icon-box {
  margin-left: 5px;
  margin-top: 10px;
  width: 150px;
}

.music-player-icon {
  width: 150px;
}

.music-player-info-box {
  color: white;
  width: 280px;
  margin-top: 20px;
}

.music-player {
  margin-left: 15px;
  margin-top: 15px;
}

.music-playlist-container {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  height: 505px;
  background-color: #2e2f2f;
  border-radius: 5px;
}

.music-playlist-tools-bar {
  padding-top: 10px;
  margin-left: 10px;
  overflow-y: auto;
}

.music-playlist {
  margin-top: 10px;
  color: white;
  overflow-y: auto;
  height: 455px;
}

.music-pl-song {}

.music-pl-song-active {
  background-color: #1995AD;
}

.music-pl-song-row {
  padding-left: 10px;
  padding-right: 10px;
}

.music-pl-play-btn:hover {
  color: #2bff07;
}

.music-pl-remove-btn {
  padding-left: 10px;
}

.music-pl-remove-btn:hover {
  color: #ff0909;
}