.ygo-main-screen {
  margin-top: 45px;
  margin-left: 200px;
  height: 736px;
  width: 100%;
  overflow-y: auto;
}

.ygo-mod-pannel {
  background-color: #1e434c;
  width: 90%;
  margin-left: 5%;
  height: 736px;
  overflow-y: auto;
}

.ygo-mod-card {
  margin: auto;
  margin-top: 5px;
  cursor: pointer;
  width: 95%;
  height: 50px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: #021c1e;
  color: white;
}

.ygo-mod-card-active {
  background-color: #6fb98f;
}

.ygo-add-mod-card {
  margin: auto;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px dashed white;
  cursor: pointer;
  width: 95%;
  height: 50px;
}

.dv-star-rating-star {
  margin-bottom: 0 !important;
}

.ygo-mod-card-content {
  width: 75%;
  margin-right: 5px;
}

.ygo-mod-card-img-col {
  width: 20%;
}

.ygo-mod-card-icon {
  margin-top: 8px;
}

.ygo-mod-card-rating {
  line-height: 1;
  margin-top: 5px;
}

.ygo-mod-card-name {
  line-height: 1;
}

.ygo-add-mod-card-icon {
  margin-top: 12px;
}

.ygo-add-mod-card-button {
  color: rgba(255, 255, 255, 0.5);
}

.ygo-tab-view {
  margin-top: 5px;
  height: 685px;
  overflow-y: auto;
}

.ygo-tab-view-text {
  text-align: justify;
  text-justify: inter-word;
  width: 800px;
  margin: auto;
}

.ygo-tab-view-deck {
  text-align: justify;
  text-justify: inter-word;
  width: 600px;
  margin: auto;
}

.ygo-deck-compare-container {
  justify-content: center;
}

.ygo-deck-compare-box {
  border: 1px gray solid;
  border-radius: 5px;
}

.ygo-deck-pros-box {
  width: 290px;
  padding-right: 5px;
}

.ygo-deck-cons-box {
  width: 290px;
  padding-left: 5px;
}

.ygo-deck-box-legend {
  border: 1px gray solid;
  width: 90px;
  border-radius: 5px;
  line-height: 1;
  background-color: #021c1e;
  color: white;
  font-size: 1.2rem;
  text-align: initial;
  margin-left: 40px;
}
