.home-tab-nav-container {
  width: 100%;
  background-color: #2e2f2f;
}

.home-tab-nav-header {
  text-decoration: none;
  color: white;
}

.home-tab-nav-header:hover {
  text-decoration: none;
  color: white;
}

.home-tab-nav-item {
  transition: 0.2s all;
}

