#mgr-mangas-list {
  height: calc(100vh - 45px);
  overflow-y: auto;
}

#mgr-mangas-list-start {
  font-size: 18px;
  width: 100%;
  height: calc(100vh - 45px);
  color: rgba(255, 255, 255, 0.5);
  border: solid 1px rgba(255, 255, 255, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
  font-style: italic;
}

#mgr-mangas-list > .notice-text {
  color: rgba(255, 255, 255, 0.5);
  font-style: italic;
}

.manga-chaper-text {
  position: absolute;
  text-align: center;
  bottom: 5px;
  width: 100%;
}

.mgr-genre-tag {
  margin-right: 2px;
  cursor: pointer;
}

.mgr-new-chapter {
  position: absolute;
  color: white;
  background: #dc3545;
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  font-weight: 600;
  top: 3px;
  right: -16px;
  width: 55px;
  font-size: 10px;
  text-align: center;
}
