#mgr-control-bar {
  background-color: #1e434c;
}

#mgr-search-select {
  background-color: #0069d9;
}

.mgr-btn-nav-bar > .btn {
  background-color: #868e96;
  color: white;
}

.mgr-btn-nav-bar > .btn:hover {
  background-color: #245c79;
}

.mgr-btn-nav-bar > .btn.active {
  background-color: #063852;
}
