#mgr-control-bar {
  background-color: #1e434c;
}

.mgr-btn-nav-bar > .btn {
  background-color: #868e96;
  color: white;
}

.mgr-btn-nav-bar > .btn:hover {
  background-color: #245c79;
}

.mgr-btn-nav-bar > .btn.active {
  background-color: #063852;
}

.manga-chaper-text {
  color: #dc3545;
}

.mgr-genre-tag:hover {
  background-color: #275c65;
}
