#ds9799-server-info {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
}

#ds9799-server-info > .alert {
  width: 100%;
  margin: 0px 15px 20px;
  font-weight: 600;
  position: relative;
}

#ds9799-server-info > .col-6 {
  display: flex;
  align-items: center;
}

#ds9799-server-info > .col-6 > label {
  flex: 0.6;
  text-align: right;
  font-weight: 600;
}

#ds9799-server-info > .col-6 > input {
  flex: 1;
  line-height: 1.2;
  margin: 10px;
}

#ds9799-server-info > .feature {
  width: 40%;
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
}

#ds9799-server-info > .feature > .btn {
  width: 210px;
  font-weight: 600;
}

#ds9799-server-info > .alert > .feature {
  position: absolute;
  top: 0;
  right: 0;
}

#ds9799-server-info > .alert > .feature > .btn {
  background: none;
  padding: 0;
  width: 25px;
  font-weight: 500;
}