.admin-btns > .btn {
  padding: 0;
  width: 25px;
  margin-left: 2px;
}

.admin-btns.default > .btn {
  border: solid 1px rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.5);
}

.admin-btns.default > .btn:hover {
  color: white;
  background-color: #68829e;
}
