#ds9799-dashboard {
  display: flex;
}

#ds9799-dashboard > .half {
  flex: 1;
  margin-top: 10px;
}

#ds9799-dashboard > .half:last-child {
  margin-left: 10px;
}

#ds9799-dashboard .credit-log {
  margin-top: 10px;
}
