.ds9799-profile-form.info-header-card {
  margin-top: 0px;
}

.ds9799-profile-form .input-group-text {
  background-color: #f44336;
  color: white;
  border: solid 1px rgba(255, 255, 255, 0.125);
}

.ds9799-profile-form .body {
  margin-top: 10px;
}

.ds9799-profile-form .input-group-prepend {
  width: 90%;
  margin: 0 auto 10px;
}

.ds9799-profile-form .feature {
  width: 90%;
  margin: 20px auto;
}

.ds9799-profile-form .feature > .btn {
  font-weight: 600;
}

.ds9799-profile-form .feature > .btn:not(.btn-up) {
  width: 50%;
}

.ds9799-profile-form .feature > .btn-up {
  width: 100%;
  background-color: #f44336;
  color: white;
}
