.sc-page {
  font-family: 'Eurostile', sans-serif;
  margin-left: 5px;
}

.sc-loader {
  margin-left: -20px;
}

.sc-border-block {
  width: 100%;
  padding: 3px 2px;
  border: 2px solid #331f1f;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.8);
  height: 45px;
}

.sc-border-block-inner {
  border: 1px solid #800000;
  border-radius: 5px;
  height: 35px;
}

.sc-zero-notice {
  width: 100%;
  height: 100%;
}

.sc-zero-notice > .notice {
  color: rgba(0, 204, 0, 0.7);
  font-size: 24px;
  font-style: italic;
}
