.game-overview-detail {
  display: flex;
  padding: 10px 10px 10px 0px;
}

.game-overview-detail > .contents-col {
  width: 258px;
}

.game-overview-detail > .contents-col > .contents-card > .contents-card-menu {
  max-height: calc(100vh - 142px);
  overflow-y: auto;
}

.game-overview-detail > .article-col {
  width: calc(100% - 258px);
  border: solid 1px rgba(255, 255, 255, 0.5);
  margin-left: 10px;
  margin-right: 10px;
  height: fit-content;
  max-height: calc(100vh - 110px);
  overflow-y: auto;
}
