.d2-tab {
  justify-content: center;
  background-color: rgba(41, 41, 41, 0.5);
  padding: 10px;
  height: 45px;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  font-weight: 700;
}

.d2-tab:hover {
  color: #9e9e9e;
}

.d2-tab.active {
  color: white;
}

.d2-active-bar {
  position: absolute;
  bottom: 0;
  height: 3px;
  width: 100%;
  background-color: #9e9e9e;
}
