.d2-nav-bar .tab {
  background-color: rgba(41, 41, 41, 0.5);
}

.d2-nav-bar .tab:hover {
  color: #9e9e9e;
}

.d2-nav-bar .tab.active {
  color: white;
}

.d2-nav-bar .active-bar {
  background-color: #9e9e9e;
}
