.d2-side-nav {
  height: calc(100vh - 90px);
  background-color: rgba(0, 0, 0, 0.5);
}

.d2-side-nav > .list {
  background-color: rgba(25, 149, 173, 0.1);
  height: calc(100vh - 140px);
}

.d2-side-nav .btn:hover {
  color: white;
  background-color: #68829e;
}

.d2-side-nav .btn.active {
  color: white;
  background-color: #1995ad;
}
