.game-overviews-list {
  padding: 10px 0 10px 10px;
  flex-wrap: wrap;
  height: calc(100vh - 90px);
  overflow-y: auto;
}

.game-overview-card {
  padding: 0px 10px;
  position: relative;
  height: 100px;
  text-align: center;
  color: #343434;
}

.game-overview-card > .title {
  font-size: 20px;
  font-weight: 700;
}

.game-overview-card > .description {
  font-style: italic;
  font-weight: 600;
  font-size: 14px;
}
