#ds9799-banking-rule-card {
  color: black;
  margin: 10px 0 10px;
  padding: 10px;
  border: solid 1px #f44336;
  border-radius: 4px;
  font-size: 14px;
  background: white;
}

#ds9799-banking-rule-card > .label {
  padding-top: 10px;
  font-size: 16px;
  font-weight: 700;
}

#ds9799-banking-rule-card > ul {
  margin-left: -15px;
}