.sc-tab-view {
  height: calc(100vh - 110px);
  overflow-y: auto;
}

.sc-card-list {
  height: calc(100vh - 148px);
  border-top: solid 1px #800000;
  margin-top: 5px;
  overflow-y: auto;
}

.sc-border {
  width: 100%;
  padding: 3px 2px;
  border: 2px solid #331f1f;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.8);
  margin-right: 5px;
  margin-top: 5px;
}

.sc-border-inner {
  border: 1px solid #800000;
  border-radius: 5px;
}

.sc-card-list::-webkit-scrollbar {
  width: 15px;
}

.sc-card-list::-webkit-scrollbar-track {
  border-radius: 4px;
  border: solid 1px #800000;
}

.sc-card-list::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #800000;
}


.sc-tab-view::-webkit-scrollbar {
  width: 15px;
}

.sc-tab-view::-webkit-scrollbar-track {
  border-radius: 4px;
  border: solid 1px #800000;
}

.sc-tab-view::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #800000;
}