.archived-account-card {
  width: 100%;
  margin-right: 10px;
  margin-top: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.archived-account-card .header {
  position: relative;
  font-weight: 700;
  height: 30px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.archived-account-card .content {
  padding: 10px;
  min-height: 85px;
  font-size: 14px;
}

.archived-account-card .content.locked {
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: rgba(0, 0, 0, 0.125);
}

.archived-account-card .fa {
  color: rgba(0, 0, 0, 0.5);
}

.archived-account-card .fa.unlock {
  display: none;
}
.archived-account-card .fa.lock {
  display: block;
}

.archived-account-card:hover .fa.lock {
  display: none;
}
.archived-account-card:hover .fa.unlock {
  display: block;
}

.archived-account-card .site-favicon {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 3px;
  left: 3px;
}

.archived-account-card .site-favicon img {
  width: 24px;
  height: 24px;
}

.archived-account-card .info-row {
  display: flex;
}

.archived-account-card .label {
  font-weight: 600;
  width: 90px;
  text-align: right;
}

.archived-account-card .info {
  margin-left: 10px;
}
