.left-image-card {
  border-radius: 4px;
  width: 100%;
  margin-bottom: 10px;
  margin-right: 10px;
  display: inline-flex;
  transition: 0.2s all;
}

.left-image-card:not(.no-hover) {
  cursor: pointer;
}

.left-image-card > .content {
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
}

.left-image-card > .content > .left-image-card-feature {
  position: absolute;
  top: -1px;
  right: 2px;
  display: none;
}

.left-image-card:hover .left-image-card-feature {
  display: block;
}

.left-image-card > .image-wrapper > .image {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.left-image-card-feature > .btn {
  font-size: 12px;
  width: 20px;
}

/*Default Theme*/
.left-image-card.default {
  color: #343434;
  border: 1px solid rgba(0, 0, 0, 0.125);
  background-color: white;
}

.left-image-card.default:not(.no-hover):not(.active):hover {
  color: white;
  background-color: #4ab763;
}

.left-image-card.default.active {
  background-color: #28a745;
  color: white;
}

/*Stone Theme*/
.left-image-card.gray-card {
  background-color: gray;
}

.left-image-card.hightlight-card {
  background-color: darkred;
}
