.text-priority-card {
  background-color: white;
  width: 100%;
  margin-bottom: 10px;
  margin-right: 10px;
  color: #343434;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  transition: all 0.2s;
  cursor: pointer;
}

.text-priority-card.must-read > .priority {
  background-color: #dc3545;
}
.text-priority-card.highly-recommended > .priority {
  background-color: #ffc107;
}
.text-priority-card.recommended > .priority {
  background-color: #28a745;
}
.text-priority-card.interest > .priority {
  background-color: #17a2b8;
}

.text-priority-card > .priority {
  width: 100%;
  height: 15px;
}

.text-priority-card > .content {
  color: #343434;
}

.text-priority-card > .header {
  background-color: #dddddd;
  position: relative;
  height: 20px;
  display: flex;
  flex-direction: row-reverse;
}

.text-priority-card-feature {
  display: flex;
}

.text-priority-card-feature > .btn {
  padding: 0;
  height: 20px;
  justify-content: center;
  display: flex;
  align-items: center;
  border: none;
  width: 10px;
  background: none;
}

.text-priority-card-feature > .btn:hover {
  color: #dc3545;
}

.text-priority-card-feature > .btn > .fa {
  font-size: 12px;
}
.text-priority-card:hover > .header {
  background-color: #adadad;
}
.text-priority-card:hover > .content {
  color: white;
  background-color: #4ab763;
}
