.dc-content-menu {
  background-color: #333;
  width: 100%;
  height: calc(100vh - 45px);
  overflow-y: auto;
}

.dc-content-menu a {
  text-decoration: none;
  color: white;
}

.dc-content-menu .group-section:first-child {
  margin-top: 10px;
}

.dc-content-menu .group-section,
.group-item {
  width: 100%;
  padding-left: 10px;
}

.dc-content-menu .group-section:hover,
.group-item:hover {
  background-color: #43853d;
  cursor: pointer;
}

.dc-content-menu .group-item {
  padding-left: 30px;
}

/*#026e00*/
/*#43853d*/
