.mu-version-card .content {
  text-align: center;
  padding: 10px;
}

.mu-version-card .content > .name {
  font-size: 18px;
  font-weight: 600;
}

.mu-version-card .content > .credit {
  position: absolute;
  bottom: 5px;
  font-size: 14px;
  font-style: italic;
  width: 94.5%;
}
