#cv-code-editor {
  width: 100%;
  height: calc(100vh - 85px);
}

#cv-code-editor > .header-bar {
  display: flex;
  background-color: #2e2f2f;
  padding: 5px;
}

#cv-code-editor > .header-bar > .btn {
  padding: 0;
  width: 30px;
  height: 30px;
  margin-right: 5px;
  transition: all 0.5s;
}

#cv-code-editor > .header-bar > .btn .icon {
  width: 24px;
  height: 24px;
}

#cv-code-editor > .header-bar > .btn.active {
  background-color: #980098;
  color: white;
}

#cv-code-editor .CodeMirror {
  width: 100%;
  height: calc(100vh - 85px);
  overflow-y: auto;
}
