#cv-code-parser {
  width: 100%;
  height: calc(100vh - 45px);
  overflow-y: auto;
}

#cv-code-parser > .viewer {
  margin: 10px;
  padding: 10px;
}

#cv-code-parser > .documentation {
  background: #333;
  max-height: 300px;
  overflow-y: auto;
  color: white;
  margin: 10px;
  padding: 10px;
}

#cv-code-parser > .documentation > .cpn-props {
  font-size: 14px;
}

#cv-code-parser > .documentation > .cpn-props .prop-name {
  color: #4dce61;
}

#cv-code-parser > .documentation > .description {
  font-size: 14px;
}

#cv-code-parser > .documentation > .label {
  font-weight: 600;
  font-size: 14px;
}