#ds9799-shops-editor {
  display: flex;
  margin-top: 10px;
  margin-left: 10px;
}

#ds9799-shops-editor .mgt-10 {
  margin-top: 10px;
}

#ds9799-shops-editor > .item-col {
  margin-right: 10px;
}

#ds9799-shops-editor > .item-col > .shop-selector {
  margin-bottom: 10px;
}

#ds9799-shops-editor > .shop-col {
  border: solid 1px #f44336;
  flex: 1;
  height: calc(100vh - 120px);
  overflow: auto;
  background: white;
  border-radius: 4px;
  color: black;
  margin-right: 5px;
  padding: 10px;
}

#ds9799-shops-editor .generated-line {
  margin-bottom: 5px;
}

#ds9799-shops-editor .generated-line .btn {
  padding: 0;
  width: 25px;
}

#ds9799-shops-editor .preview-body {
  height: calc(100vh - 270px);
}
